/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ===========================  UNIVERSAL STYLES  ========================== */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Lora', serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    margin: 50px 0;
    width: 90%;
}
 
a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

address {
    font-style: normal;
    text-align: center;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

/* =========================== SECTION DIVIDER STYLES  ========================== */

.hero-divider {
    background-color: rgba(255, 255, 255, 0.8);
    filter: blur(.5px);
    height: 1px;
    margin: 10px 0 5px 0;
    width: 100%;
}

.section-divider,
.portfolio-section-divider,
.about-section-divider { 
    border-top: 1px dotted  #862121;
    height: 40px;
    width: 100%;	
}

.portfolio-section-divider h2,
.about-section-divider h2 {
    background-color: #fff;
    color: #862121;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    text-align: center;
	text-transform: uppercase;
	width: 40%;	
}

.portfolio-section-divider {
    margin-top: 100px;
}

.footer .section-divider {
    margin-top: 20px;
    width: 100%;
}

.footer-section-divider h2 {
    width: 50%;
}

/* ===========================  HEADER STYLES  ========================== */

header {
    align-items: center;
    background-color: rgba(31, 32, 43, .25);
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 3;  
}

header .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
}

header nav {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    width: 90%;
} 

header .nav-item a {
    color: #fff;
    font-family: "poppins-medium", sans-serif;
	font-size: 1.2em;
    font-variant: small-caps;
    font-weight: 500;   
}

header .nav-item a:hover {
    opacity: .6;
}

/* =========================== FOOTER STYLES =========================== */

footer {
    align-items: center;
    background: linear-gradient(to bottom right,#002f4b,#dc4225);
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    text-align: center;
}

footer .content-wrapper {
    width: 55%;
}

footer .contact {
    margin-bottom: 50px;
}

footer h4 {
    color: #fff;
    font-family: 'Poppins-bold', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}

footer p {
    margin: 0;
}

footer .contact p, 
footer .contact a,
footer .copyright { 
    color: #fff;
	font-family: "poppins-regular", sans-serif;
    font-size: .95em;
    font-weight: 500;
    letter-spacing: .5px;
}

footer .copyright {
    font-size: .85em;
    margin: 20px 0; 
}

.footer-content img {
    filter: opacity(.7);
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
}

footer .social-icons {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

footer .social-icons p i {
    color: #fff;
    font-size: 1.4em; 
    background-color: #862121;  
    border-radius: 50%; 
    padding: 8px;
}

footer .social-icons p a:hover {
    opacity: .6;    
}

/* =========================== HERO STYLES =========================== */

.hero {
    background: url('../img/suzy-hero.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100vw;    
}

.hero:before {
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .7; 
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;	  
}

.hero * {
    position: relative;
}  

.hero-content {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.hero-content h1 {
	color: #fff;
	font-family: "poppins-medium", sans-serif;
	font-size: 2.2em;
    line-height: 1.071;
    margin-top: 120px;
}

.hero-content p {
    color: #fff;
	font-family: "lora-regular", serif;
    font-size: .80em;
	line-height: 2.4em;
	text-transform: uppercase;
    letter-spacing: .2em;
    margin: 0;
}

/* =========================== PORTFOLIO STYLES =========================== */

.portfolio-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.portfolio-section .section-divider {
    margin: 20px 0;
}
  
.portfolio-items {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.portfolio-section article {
    margin-bottom: 40px; 
}

.portfolio-section .section-divider {
    margin: 60px 0; 
}

.portfolio-content {
    background-color: #f6f6f6;
    box-shadow: 0 2.5em 3em rgba(0,0,0,0.2);
    margin-top: 40px;
    padding: 10px 30px 40px 30px;
}
  
.portfolio-content h3 {
    color: #313131;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: .10em;
    line-height: 1.5em;
    text-transform: uppercase;
}

.portfolio-content p {
    color: #6E6E6E;
    font-size: .90em;
    font-weight: 400;
    line-height: 2em;
} 

.site-button {
    border: 1px solid #862121;
    border-radius: 10px;
    text-align: center;
	display: inline-block;
    color: #862121;
	font-family: "poppins-medium", sans-serif;
    font-size: .97em;
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: 10px;
    margin-top: 30px;
	padding: 5px 14px;
    text-decoration: none;
}

.site-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.site-button:active {
	position: relative;
	top: 1px;
}

/* =========================== ABOUT STYLES =========================== */

.about-section {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.about-intro {
    align-items: center;
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 60px;
} 

.about-image {
    align-items: center;
    background-color: #f6f6f6;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 60px;   
    padding: 20px;
}

.avatar {
    margin: auto;
    width: 70%;
}

.avatar img {
    box-shadow: 0 2.5em 3em rgba(0,0,0,0.4);
    filter: brightness(110%);
    height: auto;
    margin: auto;
    width: 100%; 
}

.about-headline h1 {
    font-family: "poppins-medium", sans-serif;
    font-size: 1.4em;
    letter-spacing: .10em; 
    text-transform: uppercase; 
}

.about-content {
    background-color: #f6f6f6;
    margin-top: 40px;
    padding: 10px 20px 40px 20px;
}
  
.about-content div {
    padding: 5px;
}

.about-content p {
    color: #6E6E6E;
    font-size: .90em;
    font-weight: 400;
    line-height: 2em;
}

.about-content p span {
    color: #313131;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: .10em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* ===========================  TABLET STYLES - HOMEPAGE  ========================== */

@media only screen and (min-width: 768px){
    .content-wrapper {
        max-width: 83%;
        margin: 50px 0;
    }

    .portfolio-section-divider h2,
    .about-section-divider h2 {
        width: 30%;	
    }

    /* Header Styles */
  
    header {
        justify-content: space-around;
        padding: 30px 0;
    }
  
    header .content-wrapper { 
        justify-content: center;
        width: 100%;
    }
  
    header nav {
        width: 60%;
    }
    
    header nav ul {
        justify-content: space-between;
    } 

    /* Hero Area Styles */
  
    .hero-area {
        min-height: 720px;
    }

    .hero-content h1 {
        font-size: 2.4em;
        margin-top: 200px;
    }

    .hero-content p {
        font-size: .90em;
    }

    /* Portfolio Section Styles */

    .portfolio-section .section-divider {
        margin: 40px 0;
    }

    .portfolio-items .portfolio-image {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .portfolio-items figure {
        width: 80%;
        margin: auto;
    }
        
    .portfolio-items figure img {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: auto;
    }

    /* About Styles */

    .about-wrapper {
        padding: 0;
    }

    .about-intro {
        align-items: center;
        display: flex;
        justify-content: space-around;  
    }

    .about-image {
        align-items: center;
        background-color: #f6f6f6;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0;
    }

    .avatar {
        margin: auto;
        width: 70%;
    }

    /* Footer Styles */

    footer .content-wrapper {
        margin: 50px 0;
        width: 90%;
    }

    footer figure {
        width: 35%;
    }
    
    .footer-content {
        align-items: center;
        display: flex;
        flex-basis: 33.33%;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 40px;
    }

    footer .contact {
        margin-bottom: 0;
    }
    
    footer p {
        line-height: 1.28;
    }
    
    footer .social-icons {
        width: 12.5em;
        justify-content: space-between;
    }
    
    footer .copyright {
        width: 100%;
    }
}

/* ===========================  DESKTOP STYLES - HOMEPAGE  ========================== */

@media only screen and (min-width: 1200px){
    .content-wrapper {
        max-width: 90%;
    }

    .portfolio-section-divider h2,
    .about-section-divider h2 {
        width: 20%;	
    }

    .section-divider {
        display: none;
    }

    /* Header Styles */

    header {
        padding: 30px 0;
    }
    
    header nav {
       width: 35%;
    }

    /* Hero Area Styles */

    .hero-area p {
        font-size: 1.8em;
    }

    /* Portfolio Styles */

    .portfolio-section-divider {
        margin-bottom: 30px;
    }

    .portfolio-section article {
        align-items: center;
        border: 1px dotted #862121;
        display: flex;
        justify-content: space-around; 
        margin: 60px 0;  
        padding: 80px;   
    }

    .portfolio-section figure {
        width: 50%;
    }

    .portfolio-content {
        width: 45%;
    }

    .portfolio-content,
    .portfolio-content h3 {
        margin-top: 0;
    }

    .portfolio-content h3 {
        font-size: 1.6em;
    }

    .portfolio-content {
        padding: 20px 30px;
    }

    .article-2,
    .article-4 {
        flex-direction: row-reverse;
    }

    .article-1 .portfolio-content,
    .article-3 .portfolio-content {
        position: relative;
        top: 50px;
    }

    .article-1 .portfolio-image,
    .article-3 .portfolio-image {
        margin-bottom: 60px;
    }

    .article-2 .portfolio-content,
    .article-4 .portfolio-content {
        position: relative;
        top: 50px;
    }

    .article-2 .portfolio-image,
    .article-4 .portfolio-image {
        margin-bottom: 60px;
    }

    .portfolio-items figure {
        width: 100%;
        margin: auto;
    }

    /* About Styles */

    .about-section .content-wrapper,
    footer .content-wrapper {
        max-width: 80%;
    }
    
    .about-intro {
        justify-content: flex-start;
        margin-top: 30px;
    }

    .about-content {
        margin-left: 200px;
        padding: 0;
        width: 80%;
    }

    .about-headline {
        margin: 0 50px 0 0;
    }

    .about-headline h1 {
        font-size: 1.8em;
        letter-spacing: .20em; 
    }

    .about-content p {
        padding: 0 20px;
    }

    .avatar {
        width: 80%;
    }
}





@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
