/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ===========================  UNIVERSAL STYLES  ========================== */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: left;
}

header a,
footer {
    color: #fff;
    font-family: 'Amatic SC', cursive;
}

.content-wrapper {
    margin: 50px 0;
    width: 90%;
  }

a {
    text-decoration: none;
  }

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h2,
h3,
h4 {
    font-family: 'Amatic SC', cursive;
    letter-spacing: 1.7px;
}

/* These are the sectional headlines */
h2 {
    font-size: 2.2em;
    margin: 0;
    text-align: center;
    text-decoration: underline;
}

/* These are the portfolio headlines */
h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 0;
}

/* These are the contact and social headlines */
h4 {
    font-size: 1.6em;
}

address {
    font-style: normal;
    text-align: center;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

/* ===========================  BASE HEADER AND FOOTER STYLES  ========================== */

header,
footer {
    align-items: center;
    background-color: rgba(31, 32, 43, .75);
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
}

header {
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 3;  
}

header .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
}

header .logo {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.header-divider {
    background-color: rgba(255, 255, 255, .45);
    height: 1px;
    margin: 10px 0 10px 0;
    width: 100%;
  }

header nav {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 60%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
} 

header nav ul li,
header .logo {
    font-size: 1.7em;
} 

header .nav-item a:hover,
header .logo:hover {
    text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 30px;
}

footer {
    flex-direction: column;
    text-align: center;
}

footer p {
    margin: 0;
}

footer .content-wrapper {
    margin: 50px 0;
    width: 55%;
}

footer .contact {
    margin-bottom: 50px;
}

footer .social h4 {
    text-align: center;
}

footer .social-icons {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

footer .contact p,
footer .copyright p {
    font-size: 1.4em;
    letter-spacing: 1.7px;
}

footer .social-icons p {
    align-items: center;
    background-color: #fff;
    border: 2px solid rgb(172, 109, 149);
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}
  
footer .social-icons p i {
    color: rgb(172, 109, 149);
    font-size: 1.7em;
}

footer .social-icons p a:hover {
    opacity: 0.6;
}

footer .copyright {
    margin: 20px 0;
}

/* ===========================  MOBILE STYLES - HOMEPAGE  ========================== */

/* HERO AREA STYLES */

.hero-area {
    background: url('../img/suzy-hero.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    min-height: 520px;     
}

.hero-area:before { 
    background-color: rgba(192, 192, 192, .60);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;   
}
  
.hero-area * {
    position: relative; 
}

.hero-area p {
    color: #000;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    font-size: 1.6em;
    line-height: 1.7em;
    margin-top: 100px;
    padding: 50px 55px;
}

.hero-area span {
    font-size: 2.1em;
}

/* PORTFOLIO SECTION STYLES */

.portfolio-section {
    background-color: rgb(225, 226, 234);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
  
.portfolio-section h2 {
    margin-bottom: 30px;
}

.portfolio-items {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
.portfolio-section h3 {
    margin: 20px 0;
    text-align: center;
}

.portfolio-section p {
    font-size: 1em;
    line-height: 1.5rem;
} 

.portfolio-section article {
    margin-bottom: 50px;
}

.portfolio-content {
    margin-bottom: 30px;
}

.portfolio-content span {
    box-shadow: inset 0 -.5em 0 rgba(170, 143, 160, .55);
    color: inherit;  
    text-decoration: none;
}

.portfolio-section figure:hover {
    opacity: .7;   
    transition: .3s ease-in-out;
}

/* ABOUT AREA STYLES */

.about-section {
    align-items: center;
    background-color: rgba(170, 143, 160, .45);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.about-items {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.about-content {
    align-items: center;
    color: #000;
    display: flex; 
    justify-content: center; 
    line-height: 1.8em; 
    margin-bottom: 30px;
}

.about-section h2 {
    margin-bottom: 30px;
}

.about-content span,
.about-content a {
    color: #9D6479;
    font-family: 'Amatic SC', cursive; 
    font-weight: 700;
    letter-spacing: 2px;
}

.about-content span {
    font-size: 1.7em;
    text-decoration: underline; 
}

.about-content a {
    font-size: 1.3em;
}

.about-content a:hover {
    opacity: 0.6;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/* ===========================  TABLET STYLES - HOMEPAGE  ========================== */

@media only screen and (min-width: 768px){
    .content-wrapper {
        max-width: 83%;
        margin: 50px 0;
    }
  
    /* Header Styles */
  
    header {
        justify-content: space-around;
        padding: 30px 0;
    }
  
    header .content-wrapper { 
        justify-content: space-between;
        width: 100%;
    }
  
    header .logo {
        width: 50%;
    }
    
    .header-divider {
        display: none;
    }
  
    header nav {
        width: 40%;
    }
    
    header nav ul {
        justify-content: space-between;
    } 

    /* Hero Area Styles */
  
    .hero-area {
        min-height: 720px;
    }

    .hero-area p {
        font-size: 1.8em;
        margin-top: 80px;  
    }

    .hero-area span {
        font-size: 2em;
    }

    /* Portfolio Section Styles */

    .portfolio-section article {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    
    .portfolio-content,
    .portfolio-section figure {
        width: 50%;
    }

    .portfolio-section article {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .portfolio-content {
        margin-right: 50px;
    }

    .portfolio-section h2 {
        margin-bottom: 40px;
    }

    .portfolio-section h3 {
        margin: 0;
        padding-bottom: 10px;
        width: 100%;
    }  

    /* Footer Styles */

    footer .content-wrapper {
        margin: 100px 0;
        width: 65%;
    }
    
    .footer-content {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer .contact {
        margin-bottom: 0;
    }
    
    footer h4 {
        font-size: 1.5em;
        margin-bottom: 40px;
    }
    
    footer p {
        line-height: 1.28;
    }
    
    footer .social-icons {
        width: 12.5em;
        justify-content: space-between;
    }
    
    footer .copyright {
        width: 100%;
    }
}

/* ===========================  DESKTOP STYLES - HOMEPAGE  ========================== */

@media only screen and (min-width: 1200px){
    .content-wrapper {
        max-width: 80%;
    }

    /* Header Styles */

    header {
        padding: 30px 0;
    }
    
    header .logo {
        width: 30%;
    }

    header nav {
        width: 25%;
    }

    /* Hero Area Styles */

    .hero-area p {
        font-size: 1.8em;
    }

    /* Portfolio Styles */

    .portfolio-content,
    .portfolio-section figure {
        width: 45%;
    }
    
    /* About Styles */
 
    .about-content {
        flex-basis: 33.33%;

    }

    .about-content {
        padding-right: 70px;
        margin: 0;
    }
}






@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
